
# Build Artifacts
x64/
Win32/
*.obj
*.tlog
*.pch
*.res
*.idb
*.pdb
*.ilk
*.exp
# *.lib (Allowed for dependencies)
*.exe
*.iobj
*.ipdb

# Visual Studio
.vs/
*.user
*.aps
*.suo

# Logs
compilation_log_*.txt
*.log

# Large/Binary files to ignore if not needed in repo
*.zip
