# External dependencies - source code only
# Precompiled libraries (.lib) are kept in the repo
resizablelib/ResizableLib/
resizablelib/ResizableDialog/
resizablelib/ResizableFormViewMDI/
resizablelib/ResizableFormViewSDI/
resizablelib/ResizableComboBox/
resizablelib/ResizableDialogEx/
resizablelib/ResizableProperties/
resizablelib/ResizableWizard97/
!resizablelib/**/Release/*.lib
